<div class="is-flex is-flex-wrap-wrap is-justify-content-space-around">
  <h1 class="pl-5 has-text-weight-bold">Customers Missing an Email</h1>

  <div class="columns is-multiline is-centered px-5">
    <% @customers.each do |customer| %>
      <%= render partial: "customer", locals: {customer: customer} %>
    <% end %>
  </div>
  <%= render "links" %>
</div>